<div class="jumbotron">
  <div class="container">
    <h1 class="shadowed-text shadowed-text-large">MyCarGame</h1>
	  <p></p>
	  <br>
	  <p><a class="btn btn-playbutton btn-lg" ui-sref="game" role="button">Play now »</a></p>
  </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
			<h3 class="shadowed-text">Intense, fast-paced racing action.</h3>
		</div>
		<div class="col-md-4">
			<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
			<h3 class="shadowed-text">Competitive real-time multiplayer.</h3>
		</div>
		<div class="col-md-4">
			<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
			<h3 class="shadowed-text">Extensive statistics tracking.</h3>
		</div>
	</div>
</div>
  