<h1 class="shadowed-borders-main-heading shadowed-borders-main-heading-spaced">How to play</h1>

<h1 class="shadowed-borders-sub-heading shadowed-borders-center">objective</h1>
<div class="container">
  <div class="row">
    <div class="col col-0 col-md2"></div>
    <div class="col col-12 col-md8">
      <p class="shadowed-text-small">The objective of the game is to pass through all the <span class="text-underline">checkpoints.</span></br></br>
          In singleplayer mode, the checkpoints are always in the <span class="text-underline">same positions</span> and there are a total of 13 checkpoints. Try to finish the race as fast as possible!</br></br>
          In multiplayer mode, the checkpoints are <span class="text-underline">randomized.</span> the winner is decided by who finishes the race in the fastest time.</br></br>
      </p>
    </div>
    <div class="col col-0 col-md2"></div>
  </div>
</div>

<h1 class="shadowed-borders-sub-heading shadowed-borders-center">Movement</h1>
<div class="container">
  <div class="row">
    <div class="col col-0 col-md2"></div>
    <div class="col col-12 col-md8">
      <p class="shadowed-text-small">Use the arrow keys to move.
      </p>
    </div>
    <div class="col col-0 col-md2"></div>
  </div>
</div>

<h1 class="shadowed-borders-sub-heading shadowed-borders-center">drift mode</h1>
<div class="container">
  <div class="row">
    <div class="col col-0 col-md2"></div>
    <div class="col col-12 col-md8">
      <p class="shadowed-text-small">pressing spacebar starts <span class="text-underline">drift mode.</span></br></br> 
          in drift mode, the car rotates when you press the left and right keys. after releasing spacebar, or after 2 seconds are up, the drift will <span class="text-underline">release.</span></br></br>
          released drifts reward you with <span class="text-underline">boosted acceleration</span> and a <span class="text-underline">higher maximum velocity</span>. the effect depends on the change in your car's angle, and will last for maximum of 2 seconds.</br>     
      </p>
    </div>
    <div class="col col-0 col-md2"></div>
  </div>
</div>

<h1 class="shadowed-borders-sub-heading shadowed-borders-center">environmental effects</h1>
<div class="container">
  <div class="row">
    <div class="col col-0 col-md2"></div>
    <div class="col col-12 col-md8">
      <p class="shadowed-text-small"><span class="text-underline">sand</span> will slow you down and negate any effects gained from a successful drift.</br></br> 
          hitting the <span class="text-underline">railings</span> will deal damage to your car. taking damage decreases your maximum velocity. taking too much damage will crash your car. </br></br>
          driving into <span class="text-underline">water</span> will crash you instantly.</br>     
      </p>
    </div>
    <div class="col col-0 col-md2"></div>
  </div>
</div>

<h1 class="shadowed-borders-sub-heading shadowed-borders-center">statistics</h1>
<div class="container">
  <div class="row">
    <div class="col col-0 col-md2"></div>
    <div class="col col-12 col-md8">
      <p class="shadowed-text-small">statistics are recorded for logged in players for both single- and multiplayer games. 
      </p>
    </div>
    <div class="col col-0 col-md2"></div>
  </div>
</div>